doctype html
html
  head
    title= "Okta Redirect Flow With Express"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body#samples
    nav.navbar.navbar-default
      div.container-fluid
        ul.nav.navbar-nav
          a(href="/")
            img(src="https://www.okta.com/sites/default/files/Okta_Logo_BrightBlue_Medium.png", height="50", style="padding: 10px;")
block content
  h2= "Welcome to Collaboration App"
  if authenticated
    br
    div
      p Welcome back!
      p You have successfully authenticated against your Okta org, and have been redirected back to this application.
      p Visit the #[a(href="/profile") My Profile] page in this application to view the information retrieved with your OAuth Access Token.
  else
    br
    div
      form.navbar-form.navbar-right(method="get", action="/login")
            button#login-button.btn.btn-primary(type="submit") Login    
